.contanier
{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width :768px)
{
    .contanier{
        width: 750px;
    }
}
@media (min-width: 992px)
{
    .contanier{
        width:970px;
    }
}
@media (min-width: 1200px)
{
    .contanier{
        width: 1170px;
    }
}


.Portfolio
{
    padding-top: 100px;
    padding-bottom: 100px;
    
}


.Portfolio .contanier .main-heading h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--blue-color);
    font-weight: bold;
}
.Portfolio .contanier .main-heading p
{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Portfolio .image-container
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}
.Portfolio .image-container .box
{
    overflow: hidden;
    position: relative;
}
.Portfolio .image-container .box:hover .caption
{
    bottom: 0;
}

@media(min-width: 768px)
{
    .Portfolio .image-container .box
    {
        flex-basis: 50%;
    }
}
@media(min-width: 1199px)
{
    .Portfolio .image-container .box
    {
        flex-basis: 25%;
    }
}
@media (max-width: 767px)
{
    .Portfolio .image-container .box
    {
        flex-basis: 100%;
    }
}
.Portfolio .image-container .box img
{
    max-width: 100%;
}
.Portfolio .image-container .box .caption
{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.Portfolio .image-container .box .caption h4
{
    font-weight: normal;
    margin-bottom: 10px;
}
.Portfolio .image-container .box .caption p
{
    color: var(--main-color);
}
@media (max-width: 767px)
{
    .Portfolio .contanier .main-heading
    {
        padding-top: 100px;
    }
}
@media (max-width: 767px)
{
    .Portfolio .image-container .box
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
}
