.footer {
    background-color: var( --blue-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
  }
  .footer span {
    font-weight: bold;
    color: black;
  }