
.special-heading {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    color: gray;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
    .special-heading + p {
      margin-top: -20px;
    }
  }
.contact {
    margin-top: -15px;
    padding-bottom: 60px;

  }
  .contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  .contact .info .label {
    font-size: 25px;
    color: #0075ff;
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  